DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
POWERSYNC_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0X3VzZXIiLCJpc3MiOiJ0ZXN0LWNsaWVudCIsImF1ZCI6WyJwb3dlcnN5bmMiLCJodHRwOi8vMTI3LjAuMC4xOjgwODAiXSwiaWF0IjoxNzU2Mjk2NDM5LCJleHAiOjE3NTYzODI4Mzl9.0J3nLcLQeK1wn_Vfmq2A5C_3-eh8zN3mdkZPi_nj-Tg